.slider_area{
    position: relative;
}
.slider_box{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_img{
    position: absolute;
    top: 10%;
    left:0;
    max-width: 45%;
}
.slider_area_text h2{
    font-size: 75px;
}